      {{#if loggedIn}}
      <li class="nav-item active">
        <a class="nav-link logout-bt" id="logout" href="/">Log Out</a>
      </li>
      {{else}}
      <li class="nav-item active">
        <a class="nav-link login-bt" id="login" href="/login">Log In</a>
      </li>
      {{/if}}