<div>
  <div class='row' style="background-color: rgb(132, 75, 9);">

    <div class="col-2 vh-100" style=" background-color: rgb(241, 186, 103);">
      <div class=" mt-5  d-flex row g-2" style="padding-left:10%;">
        {{!-- <button class="view-recipes" type="button">My recipes</button> --}}
        <button id="view-recipes" type="button">My recipes</button>

        {{!-- <button>Add recipes</button> --}}
      </div>

    </div>


    <div class=" text-center pt-2  m-auto text-light  recipes ">
      <h1 class='logo'>HOMECOOKED</h1>
    </div>
  </div>
</div>
</div>

<script src="/js/btnRoutes.js"></script>