* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto ', sans-serif;
  background-color: rgb(95, 58, 10);
}

div button {
  border: none;
  background-color: rgb(58, 47, 29);
  border-radius: 20px;
  font-size: 22px;
  outline: none;
  padding: 4%;
  color: aliceblue;

}

div button:hover {
  color: white;
  background-color: rgb(65, 62, 59);
}

.logout-bt {
  color: aliceblue;
  font-size: 120%;
}

.logout-bt:hover {
  background-color: rgb(233, 170, 88);
}

.recipes {
  height: fit-content;
  width: 50%;
}


li {
  background-color: rgb(237, 191, 130);
  list-style: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 6px;
}

li:hover {
  background-color: rgb(174, 117, 228);
}

rep-list {
  height: fit-content;
}

header {
  color: rgb(255, 255, 255);
  background-color: rgb(17, 15, 29);

}
#title{
  text-align: center;
}
header h1 {
  font-size: 60px;
}


.logo {
  font-size: 600%;
  opacity: 0.4;
}


input {
  width: 90%;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 50px;
  background-color: rgb(244, 204, 152);
  display: inline-block;

}

.container-fluid {
  padding-right:0;
  padding-left:0;
}

label {
  display: inline-block;
  text-align: right;
  color: aliceblue;
  font-size: 24px;
  margin-bottom: 1px;
}

.vh-100{
  height: 100vh !important;
}

.login-bg {
  background-color: rgb(95, 58, 10);
}

.login-in {
  background-color: rgb(175, 102, 6);
  
}

@media screen and (max-width: 1000px) {
  .logo {
    font-size: 200%;
  }
 
}

#login-container{
  width: 25%;
}

#login1{
  padding-top: 2%;
}
#header1{
  text-align: left;
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 200%;
  }



  #login-container{
    width: 50%;
  }

  #header1{
    text-align: center;
  }

  header h1 {
    font-size: 18px;
  }


  div button {
    font-size: 8px;
  }

  .logo {
    font-size: 90%;
  }


  header {
    margin-left: 10px;
    margin-right: 10px;
  }


}







/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}