/* GLOBAL */
* {

}

/* GENERAL */
:root {
--color1: white;
--color2: #3d519e;
--color3: black;
}

/* LOGIN PAGE */
.alignment {
    display: flex;
    flex-direction: column;
}

.alignment label {
    color: var(--color3);
}

.page-title {
    color: var(--color3);
    padding-bottom: 5%;
}

@media (max-width: 992px) {
    .navLeft {
        padding-left: 5%;
    }
}

/* ADD PAGE */
form div {
    padding-bottom: 5%;
}